In [1]:
from splinter import Browser
from bs4 import BeautifulSoup

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
html = browser.html

In [5]:
soup = BeautifulSoup(html, "html.parser")

In [6]:
title = soup.find_all("div", class_ = "content_title")
headline = title[1]

In [7]:
headline = headline.find("a")

In [8]:
news_title = headline.text

In [9]:
print(news_title)

NASA's Perseverance Rover Is Midway to Mars

In [10]:
teaser = soup.find_all("div", class_ = "article_teaser_body")
teaser1 = teaser[0]

In [11]:
news_p = teaser1.text

In [12]:
print(news_p)

Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination.

In [13]:
url2 = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

In [14]:
browser.visit(url2)

In [15]:
browser.click_link_by_id('full_image')

In [16]:
browser.click_link_by_partial_text('more info')

C:\Users\jocel\Anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:493: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [17]:
browser.click_link_by_partial_href('/largesize')

C:\Users\jocel\Anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:485: FutureWarning: browser.find_link_by_partial_href is deprecated. Use browser.links.find_by_partial_href instead.
  FutureWarning,

In [18]:
featured_image_url = browser.url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16842_hires.jpg

In [19]:
url3 = "https://space-facts.com/mars/"

In [20]:
browser.visit(url3)

In [21]:
import pandas as pd

In [22]:
tables = pd.read_html(url3)

In [23]:
df = tables[0]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [24]:
html_table = df.to_html()
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [25]:
df.to_html('table.html')

In [26]:
url4 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [27]:
browser.visit(url4)

In [43]:
html = browser.html
soup = BeautifulSoup(html, "html.parser")

main_url = "https://astrogeology.usgs.gov"
images_url = soup.find_all("div", class_="item")

url_list = []

for image in images_url:
    hem_url = image.find('a')['href']
    url_list.append(hem_url)
    
print(url_list)

['/search/map/Mars/Viking/cerberus_enhanced', '/search/map/Mars/Viking/schiaparelli_enhanced', '/search/map/Mars/Viking/syrtis_major_enhanced', '/search/map/Mars/Viking/valles_marineris_enhanced']

In [54]:
html = browser.html
soup = BeautifulSoup(html, "html.parser")
hemisphere_image_urls = []
for urls in url_list:
    hem_url = main_url + urls
    
    browser.visit(hem_url)
    f_title = soup.find('h2', class_ = "title")
    f2_title = f_title.text
    title = f2_title.split(' Enchanced')[0]
    comp_url = soup.find('li').a['href']
    hemisphere_image_urls.append({'title':title, 'img_url': comp_url})

In [55]:
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}]

In [57]:
mars_info = {}
mars_info["news_title"] = news_title
mars_info["news_paragraph"] = news_p

In [58]:
mars_info["featured_image_url"] = featured_image_url

In [59]:
mars_info["mars_facts"] = html_table

In [60]:
mars_info

{'news_title': "NASA's Perseverance Rover Is Midway to Mars ",
 'news_paragraph': "Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination.",
 'featured_image_url': 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16842_hires.jpg',
 'mars_facts': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'}